################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure_Scaling/obj
/Azure_Scaling/.vs/Azure_Scaling
/.vs
/Azure_Scaling/.vs/ProjectEvaluation
/Azure_Scaling/bin/Debug/net8.0
